@font-face {
	font-family: 'Bellerose';
	src: url('http://dl.dafont.com/dl/?f=bellerose')
}

.navbar-customized {
	background-color: #666666;
	font-family: "Bellerose";
}

.navbar-customized .navbar-hover,
.navbar-customize .navbar-focus {
	color: #3b4442;
}

.navbar-customized .navbar-nav > li > a {
	color: #ffffff;
}

.navbar-customized .navbar-active {
	color: #009900;
}

.navbar-customized .navbar-brand {
	color: #000000;
}
