@keyframes slidein {
	from { height: 0;}
	to { height: 100%;}
}

.navbar-customized {
	background-color: #666666;
	font-family: "Century Gothic", sans-serif;
	font-size: 20px;
	margin-bottom: 0;
	animation-name: slidein;
	animation-duration: 1s;
}

.navbar-customized .nav > li > a:hover {
	background-color: #181818;
    	-webkit-transition: all ease .7s;
    	-moz-transition: all ease .7s;
    	-ms-transition: all ease .7s;
    	-o-transition: all ease .7s;
    	transition: all ease .7s;
}

.navbar-customized .nav > li > a {
	color: 	#ffffff;
}
.navbar-customized .nav > .active > a:focus{
	color:  #ffffff;
}

.navbar-customized .navbar-brand {
	color: #ffffff;
}
