.navbar-customized {
	background-color: #666666;
	font-family: "Century Gothic", sans-serif;
}

.navbar-customized .navbar-hover,
.navbar-customized .navbar-focus {
	background-color: #181818;
	color: 	#ffffff;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
}

.navbar-customized .navbar-nav > .active > a, 
.navbar-customized .navbar-nav > .active > a:hover, 
.navbar-customized .navbar-nav > .active > a:focus {
	background color: #59B300;
	color: #ffffff;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
}

.navbar-customized .navbar-brand {
	color: #000000;
}
