.planner{
    background: url('https://my.ics.edu.hk/@api/deki/files/296/=front_of_school_rotated_sm.jpg')  no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    font-family: "Century Gothic", sans-serif;
    color: white;
    font-size:16px;
    text-shadow: 1px 1px #000000;
    opacity: 0;
    
    animation:fadeIn1 ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    animation-delay: .25s;
}

.requirements {
    padding-top: 1cm;
    padding-bottom: 1cm;
    padding-left: 300px;
    padding-right: 300px;
    opacity: 0;
    
    animation:fadeIn1 ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    animation-delay: .5s;
}
.requirements2 {
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 300px;
    padding-right: 300px;
    opacity: 0;
    
    animation:fadeIn2 ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    animation-delay: 1s;
}
.retaking {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 300px;
    padding-right: 300px;
    opacity: 0;
    
    animation:fadeIn3 ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
    animation-delay: 1.5s;
}

@keyframes fadeIn1 {
  from {
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.5);
       } to {
        opacity: 1;
    background-color: rgba(143, 163, 218, 0.5);
    }
}

@keyframes fadeIn2 {
  from {
      opacity: 0;
       background-color: rgba(0, 0, 0, 0.55);
    } to {
        opacity: 1;
    background-color: rgba(108, 135, 198, 0.55);
    }
}

@keyframes fadeIn3 {
  from {
      opacity: 0;
       background-color: rgba(0, 0, 0, 0.6);
    } to {
        opacity: 1;
    background-color: rgba(71, 105, 184, 0.6);
    }
}
